

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
}

#quote {
    font-size: 28px;
    color: #000000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#author {
    font-size: 22px;
    color: #252525;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ff8a00, #e52e71, #b91372);
    opacity: 0.5;
    transition: opacity 1s ease-in-out; /* Change transition duration */
    z-index: 0;
}
